//- header
include ../components/_header.pug

//-INVOICE
main.works
    .js-demo
        h3 DETAILS OF<br>INVOICE

    .mock-wrap
        img.js-demo(src="../img/worksimg/iv-mock.png", alt="")

        .mock.job.js-demo
            p MY JOB
            p デザイン（Figma）・コーディング
        .mock.dt.js-demo
            p DETAIL
            p  架空のコーポレートサイトをデザインからコーディングまで行いました。クライアントとのやりとりを想像し、<br>清潔感のあるカラーや可読性の高いフォントに気をつけました。
        .mock.link.js-demo
            p URL
            a(href="https://muuuuu.org/") INVOICE 
        .bg-br-mock.js-demo

    .mock-img-wrap
        img.js-demo-img(src="../img/worksimg/iv-mock2.png", alt="")
        img.js-demo-img(src="../img/worksimg/iv-mock3.png", alt="")
        img.js-demo-img(src="../img/worksimg/iv-mock4.png", alt="")

    //- btn
    .btn
        a(href="/index.html")
            span.btn-text BACK
            include ../components/_btn-arrow.pug


//- footer
include ../components/_footer.pug

